@model ProjectABeautyWeb.Models.Treatment

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Treatment</h4>
<hr />

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-4">
      
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor( x => x.TreatmentType, new { @class = "control-label"})
                @Html.DropDownListFor(x => x.TreatmentType, @Html.GetEnumSelectList<TreatmentType>(), new { @class = "form-control" })
                <span asp-validation-for="TreatmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor( x => x.TreatmentName, new { @class = "control-label"})
                @Html.TextBoxFor(x => x.TreatmentName, new { @class = "form-control"})
                <span asp-validation-for="TreatmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                 @Html.LabelFor( x => x.Price, new { @class = "control-label"})
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control"})
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                 @Html.LabelFor( x => x.Duration, new { @class = "control-label"})
                @Html.TextBoxFor(x => x.Duration, new { @class = "form-control"})
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
    </div>
</div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
